<html ang="zh-CN"><head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>接口预览</title>
    <meta name="description" content=""> 
    <meta name="keywords" content="">
    <meta http-equiv="Cache-Control" content="no-transform">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/pagination.css">
    <link rel="stylesheet" type="text/css" href="../css/alert.css">
    <link rel="icon" type="image/x-ico" href="../images/favicon.ico"/>
</head>
<body>
        	<div class="right-interlist right-interpre">
        		<div class="nav-interpre">
	        		<ul>
						<li class="active"><a href="#">预览</a></li>
						<li><a href="apiEdit.html">编辑</a></li>
						<li><a href="apiRun.html">运行</a></li>
					</ul>
				</div>
        		<div class="del-interpre">
 					<div class="basicinfo-interpre">
						<div class="comtit-interpre notop">基本信息</div>
						<div class="basiclist-interpre comlist-interpre">
							<ul>
								<li>
									<label>接口名称：</label>
									<div class="basicintro-interpre">{{info.name}}</div>
								</li>
								<li class="alone">
									<label>接口路径：</label>
									<div class="basicintro-interpre">
										<i class="icon-badge">{{info.method}}</i>
										{{info.url}}
									</div>
								</li>
								<li>
									<label>创 建 人：</label>
									<div class="basicintro-interpre">
										<a href="#" class="link-perctr">
											<i class="icon-header"></i>
											{{info.createUserName}}
										</a>
									</div>
								</li>
								<li>
									<label>更新时间：</label>
									<div class="basicintro-interpre">{{info.createTime}}</div>
								</li>
							</ul>
						</div>
 					</div>
 					<div class="remark-interpre">
						<div class="comtit-interpre">备注</div>
						<div class="remarkintro-interpre comlist-interpre">
							{{info.description}}
						</div>
 					</div>
 					<div class="reqparam-interpre">
						<div class="comtit-interpre">请求参数</div>
						<div class="reqcom-interpre reqbody-interpre comlist-interpre">
							<div class="reqtit-interpre">Queries：</div>
							<div class="reqlist-interpre" id="queryTab">
								<table>
									<thead>
										<tr>
											<th width="15%">参数名称</th>
											<th width="12%">参数类型</th>
											<th width="10%">示例</th>
											<th width="53%">备注</th>
										</tr>
									</thead>
									<tbody>
											<!-- <tr>
												<td>regname</td>
												<td>string</td>
												<td></td>
												<td>昵称</td>
											</tr> -->
									</tbody>
								</table> 
							</div>
						</div>
						<div class="reqcom-interpre reqbody-interpre comlist-interpre">
							<div class="reqtit-interpre">Headers：</div>
							<div class="reqlist-interpre" id="headerTab">
								<table>
									<thead>
										<tr>
											<th width="15%">参数名称</th>
											<th width="12%">参数类型</th>
											<th width="10%">示例</th>
											<th width="53%">备注</th>
										</tr>
									</thead>
									<tbody>
											<!-- <tr>
												<td>Content-Type</td>
												<td>string</td>
												<td></td>
												<td>参数提交格式</td>
											</tr> -->
									</tbody>
								</table>
							</div>
						</div>
						<div class="reqcom-interpre reqbody-interpre comlist-interpre">
							<div class="reqtit-interpre">Body：</div>
							<div class="reqlist-interpre"  id="bodyTab">
								<table>
									<thead>
										<tr>
											<th width="15%">参数名称</th>
											<th width="12%">参数类型</th>
											<th width="10%">示例</th>
											<th width="53%">备注</th>
										</tr>
									</thead>
									<tbody>
											<!-- <tr>
												<td>mobilephone</td>
												<td>string</td>
												<td></td>
												<td>手机号</td>
											</tr>
											<tr>
												<td>pwd</td>
												<td>string</td>
												<td></td>
												<td>密码</td>
											</tr> -->
									</tbody>
								</table>
							</div>
						</div>
 					</div>
        		</div>
        	</div>
     <script type="text/javascript" src="../js/jquery-1.11.3.js"></script>  
     <script type="text/javascript" src="../js/jquery.pagination.js"></script>
     <script type="text/javascript" src="../js/alert.js"></script>
     <script type="text/javascript" src="../js/base.js"></script>
     <script type="text/javascript" src="../js/common.js"></script>
	 <script type="text/javascript"  src="../js/vue.js"> </script>
	 <script type="text/javascript"  src="../js/axios.min.js"> </script>
	 <script type="text/javascript" src="../js/jquery.cookie.js" charset="UTF-8"></script>
	 <script>
		 var  vue = new Vue({
			 el: ".del-interpre" ,//挂载点
			 data: {
				 info:{},
				 jsonParam:""
			 },
			 methods: {  
			
			 },
			 //进入页面直接渲染
			 created () {
				let url=youtest.config.global.adminUrl+"/api/findApi";
				let apiId=sessionStorage.getItem("apiId")
				let sessionId=$.cookie("sessionId");
				let data={'apiId':apiId} ;
				sessionStorage.removeItem("jsonParam") //每次进入api界面时先删除此jsonParam
				axios({
					url: url,
					method: 'post',
					params: data,
					headers: {"Authorization":sessionId}
						 }
					 ).then(response=>{
						let result=response.data;
						if(result.status=="1"&&result.data!=null){
							this.info=result.data
							let requestParams=result.data.requestParams
							for(var i=0;i<requestParams.length;i++){
								let param=requestParams[i]
								let  str=` <tr>
												<td>${param.name}</td>
												<td>${param.paramType}</td>
												<td>${param.exampleData}</td>
												<td>${param.description}</td>
											</tr> `;
								if(param.type=="1"){
									//路径上的参数
									$('#queryTab tbody').append(str);	
								}
								else if(param.type=="2"){
									//body参数
									$('#bodyTab tbody').append(str);
								}else if(param.type=="3"){
									//头部参数
									$('#headerTab tbody').append(str);	
								}else if(param.type=="4"){
									this.jsonParam=param.exampleData
									sessionStorage.setItem("jsonParam",this.jsonParam) //存入浏览器方便重复获取
									//json格式请求体带的参数
								}
							}
						// window.location.reload();//刷新页面
						}else if(result.status=="1"&&result.message=="账号未登录"){
							location.href=youtest.config.global.rootUrl+"/login.html"
						}
				 }) 
			 }
		 })
	 </script>

</body></html>