<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>YouTest</title>
<link rel="stylesheet" type="text/css" href="../css/style.css" />
<link rel="icon" type="image/x-ico" href="../images/favicon.ico"/>
<style>
body {
	height: 100%;
	background: #16a085;
	overflow: hidden;
}

canvas {
	z-index: -1;
	position: absolute;
}
.tips{ font-size:12px; height:30px; clear:both;color:red}
.tips_dd_init{
	display:none;
}
</style>
<script src="../js/jquery-1.11.3.js"></script>
<script src="../js/Particleground.js"></script>
<script type="text/javascript" src="../js/jquery.md5.js" charset="UTF-8"></script>
<script type="text/javascript" src="../js/common.js" charset="UTF-8"></script>
<script type="text/javascript" src="../js/jquery.cookie.js" charset="UTF-8"></script>
<script>
	$(function() {
		//粒子背景特效
		$('body').particleground({
			dotColor : '#5cbdaa',
			lineColor : '#5cbdaa'
		});
		$("body").keydown(function(event) {
			if (event.keyCode == "13") {//keyCode=13是回车键
				$('#login').trigger("click");
			}
		});
		$("#login").click(
				function() {
					var un = $("[name='username']").val();
					var pd = $("[name='password']").val();
					if(un==null||un==""){
						$(".tips_dd_init").show();
						$("p.tips").html("用户名不能为空。");
						return false; 
					}  
					if(pd==null||pd==""){
						$(".tips_dd_init").show();
						$("p.tips").html("密码不能为空。");
						return false;
					}
					$(".tips_dd_init").hide();
					$.post(youtest.config.global.adminUrl + "/user/login", {
						username : un,
						password : $.md5(pd)
					}, function(ret) {
						if (ret != null && ret.status == "1") {
							var date = new Date();
							date.setTime(date.getTime() + 24 * 60 * 60
									* 1000);//1天
							$.cookie("sessionId", ret.message, {
								expires : date  //设置cookie失效时间为1天
							});
							let userId=ret.data; //获取登录用户id
							sessionStorage.setItem("userId",userId)//存放到浏览器中
							window.location.href = youtest.config.global.htmlUrl
									+ "/projectList.html";
						} else {
							$(".tips_dd_init").show();
							$("p.tips").html(ret.message);
						}
					}, 'json');

				});
	});
</script>
</head>
<body>
	<form name='loginForm'>
		<dl class="admin_login">
			<dt>
				<strong>接口测试平台</strong> <em>API Management System</em>
			</dt>
			<dd class="user_icon">
				<input type="text" placeholder="账号" class="login_txtbx"
					name="username" />
			</dd>
			<dd class="pwd_icon">
				<input type="password" placeholder="密码" class="login_txtbx"
					name="password" />
			</dd>
			<dd class="tips_dd_init">
				<p class="tips" style="color:red"></p>
			</dd>
			<dd>
				<input type="button" value="立即登录" class="submit_btn" id="login"/>
			</dd>
			<dd>
				<p>
					还没账号？<a href="register.html" style="text-decoration: underline;"><strong>去注册</strong></a>
				</p>
			</dd>
		</dl>
	</form>
</body>
</html>
